openapi: 3.2.0
info:
  title: Greenhelix Net Messaging API
  version: 1.4.10
  description: 'Operations tagged messaging across 2 of this provider''s published API definitions: greenhelix-net-openapi.json, greenhelix-net-a2a-commerce-gateway-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.greenhelix.net
  description: Production (the host that serves this document at /v1/openapi.json; named by the agent card url, ai-plugin.json api.url, AGENTS.md and both SDK READMEs)
- url: https://sandbox.greenhelix.net
  description: 'Sandbox — identical surface, databases reset on every deploy (docs.html; probed 2026-09-19: /v1/health 200, same 1.4.10 build)'
security:
- BearerAuth: []
- ApiKeyAuth: []
- X402Payment: []
tags:
- name: Messaging
paths:
  /v1/messaging/messages:
    post:
      tags:
      - Messaging
      summary: Send Message
      operationId: send_message_v1_messaging_messages_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Messaging
      summary: Get Messages
      operationId: get_messages_v1_messaging_messages_get
      parameters:
      - name: agent_id
        in: query
        required: true
        schema:
          type: string
          title: Agent Id
      - name: thread_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Thread Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/messaging/negotiations:
    post:
      tags:
      - Messaging
      summary: Negotiate Price
      operationId: negotiate_price_v1_messaging_negotiations_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NegotiatePriceRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    NegotiatePriceRequest:
      properties:
        initiator:
          type: string
          title: Initiator
        responder:
          type: string
          title: Responder
        amount:
          anyOf:
          - type: number
          - type: string
            pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
          title: Amount
        service_id:
          type: string
          title: Service Id
          default: ''
        expires_hours:
          type: integer
          title: Expires Hours
          default: 24
      additionalProperties: false
      type: object
      required:
      - initiator
      - responder
      - amount
      title: NegotiatePriceRequest
    MessageType:
      type: string
      enum:
      - text
      - price_negotiation
      - task_specification
      - counter_offer
      - accept
      - reject
      title: MessageType
    SendMessageRequest:
      properties:
        sender:
          type: string
          title: Sender
        recipient:
          type: string
          title: Recipient
        message_type:
          $ref: '#/components/schemas/MessageType'
        subject:
          type: string
          title: Subject
          default: ''
        body:
          type: string
          title: Body
          default: ''
        metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metadata
        thread_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Thread Id
      additionalProperties: false
      type: object
      required:
      - sender
      - recipient
      - message_type
      title: SendMessageRequest
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key passed as Bearer token in the Authorization header.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key passed directly in the X-API-Key header (alternative to Bearer).
    X402Payment:
      type: apiKey
      in: header
      name: X-PAYMENT
      description: x402 payment proof for stateless authentication.
x-refined-from:
- greenhelix-net-openapi.json
- greenhelix-net-a2a-commerce-gateway-openapi.yml
