openapi: 3.2.0
info:
  title: A2A Commerce Gateway Marketplace API
  version: 1.4.10
  description: 'A2A Commerce Gateway — agent-to-agent commerce infrastructure operated by Green Helix Consulting, LLC: billing and wallets, payment intents and escrow, subscriptions, Ed25519 agent identity and reputation, service marketplace, trust scoring, encrypted messaging and price negotiation, disputes, webhooks and an event bus.'
  contact:
    name: Green Helix
    url: https://greenhelix.net
    email: support@greenhelix.net
servers:
- url: https://api.greenhelix.net
  description: Production (the host that serves this document at /v1/openapi.json; named by the agent card url, ai-plugin.json api.url, AGENTS.md and both SDK READMEs)
- url: https://sandbox.greenhelix.net
  description: 'Sandbox — identical surface, databases reset on every deploy (docs.html; probed 2026-09-19: /v1/health 200, same 1.4.10 build)'
security:
- BearerAuth: []
- ApiKeyAuth: []
- X402Payment: []
tags:
- name: Marketplace
paths:
  /v1/marketplace/services:
    post:
      tags:
      - Marketplace
      summary: Register Service
      operationId: register_service_v1_marketplace_services_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterServiceRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Marketplace
      summary: Search Services
      operationId: search_services_v1_marketplace_services_get
      parameters:
      - name: query
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Query
      - name: category
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Category
      - name: tags
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Tags
      - name: max_cost
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Cost
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/marketplace/services/{service_id}:
    get:
      tags:
      - Marketplace
      summary: Get Service
      operationId: get_service_v1_marketplace_services__service_id__get
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          title: Service Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Marketplace
      summary: Update Service
      operationId: update_service_v1_marketplace_services__service_id__put
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          title: Service Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/marketplace/services/{service_id}/deactivate:
    post:
      tags:
      - Marketplace
      summary: Deactivate Service
      operationId: deactivate_service_v1_marketplace_services__service_id__deactivate_post
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          title: Service Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/marketplace/services/{service_id}/ratings:
    post:
      tags:
      - Marketplace
      summary: Rate Service
      operationId: rate_service_v1_marketplace_services__service_id__ratings_post
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          title: Service Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateServiceRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Marketplace
      summary: Get Service Ratings
      operationId: get_service_ratings_v1_marketplace_services__service_id__ratings_get
      parameters:
      - name: service_id
        in: path
        required: true
        schema:
          type: string
          title: Service Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/marketplace/match:
    get:
      tags:
      - Marketplace
      summary: Best Match
      operationId: best_match_v1_marketplace_match_get
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          title: Query
      - name: budget
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Budget
      - name: min_trust_score
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Min Trust Score
      - name: prefer
        in: query
        required: false
        schema:
          type: string
          default: trust
          title: Prefer
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 5
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/marketplace/agents:
    get:
      tags:
      - Marketplace
      summary: Search Agents
      operationId: search_agents_v1_marketplace_agents_get
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
          title: Query
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/marketplace/strategies:
    get:
      tags:
      - Marketplace
      summary: List Strategies
      operationId: list_strategies_v1_marketplace_strategies_get
      parameters:
      - name: tags
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Tags
      - name: max_cost
        in: query
        required: false
        schema:
          anyOf:
          - type: number
          - type: 'null'
          title: Max Cost
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/marketplace/atlas/discover:
    post:
      tags:
      - Marketplace
      summary: Atlas Discover
      operationId: atlas_discover_v1_marketplace_atlas_discover_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtlasDiscoverRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/marketplace/atlas/preflight:
    post:
      tags:
      - Marketplace
      summary: Atlas Preflight
      operationId: atlas_preflight_v1_marketplace_atlas_preflight_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtlasPreflightRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/marketplace/atlas/broker:
    post:
      tags:
      - Marketplace
      summary: Atlas Broker
      operationId: atlas_broker_v1_marketplace_atlas_broker_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtlasBrokerRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    RateServiceRequest:
      properties:
        rating:
          type: integer
          title: Rating
        review:
          type: string
          title: Review
          default: ''
      additionalProperties: false
      type: object
      required:
      - rating
      title: RateServiceRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    RegisterServiceRequest:
      properties:
        provider_id:
          type: string
          title: Provider Id
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        category:
          type: string
          title: Category
        tools:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tools
        tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tags
        endpoint:
          type: string
          title: Endpoint
          default: ''
        pricing:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Pricing
      additionalProperties: false
      type: object
      required:
      - provider_id
      - name
      - description
      - category
      title: RegisterServiceRequest
    UpdateServiceRequest:
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        category:
          anyOf:
          - type: string
          - type: 'null'
          title: Category
        tags:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Tags
        endpoint:
          anyOf:
          - type: string
          - type: 'null'
          title: Endpoint
        metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metadata
      additionalProperties: false
      type: object
      title: UpdateServiceRequest
    AtlasPreflightRequest:
      properties:
        service_id:
          type: string
          maxLength: 256
          title: Service Id
        min_trust_score:
          anyOf:
          - type: number
            maximum: 100.0
            minimum: 0.0
          - type: 'null'
          title: Min Trust Score
        expected_cost:
          anyOf:
          - type: number
            maximum: 1000000000.0
            minimum: 0.0
          - type: string
            pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
          - type: 'null'
          title: Expected Cost
      additionalProperties: false
      type: object
      required:
      - service_id
      title: AtlasPreflightRequest
      example:
        expected_cost: 1.0
        min_trust_score: 60.0
        service_id: svc-abc123
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AtlasBrokerRequest:
      properties:
        query:
          type: string
          maxLength: 500
          title: Query
        payer:
          type: string
          maxLength: 128
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9._-]{0,127}$
          title: Payer
        budget:
          anyOf:
          - type: number
            maximum: 1000000000.0
            minimum: 0.0
          - type: string
            pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
          - type: 'null'
          title: Budget
        min_trust_score:
          anyOf:
          - type: number
            maximum: 100.0
            minimum: 0.0
          - type: 'null'
          title: Min Trust Score
        prefer:
          type: string
          title: Prefer
          default: trust
        description:
          type: string
          maxLength: 2000
          title: Description
          default: ''
      additionalProperties: false
      type: object
      required:
      - query
      - payer
      title: AtlasBrokerRequest
      example:
        budget: 50.0
        description: Brokered analytics job
        payer: agent-alice
        query: data analysis
    AtlasDiscoverRequest:
      properties:
        query:
          type: string
          maxLength: 500
          title: Query
        budget:
          anyOf:
          - type: number
            maximum: 1000000000.0
            minimum: 0.0
          - type: string
            pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
          - type: 'null'
          title: Budget
        min_trust_score:
          anyOf:
          - type: number
            maximum: 100.0
            minimum: 0.0
          - type: 'null'
          title: Min Trust Score
        prefer:
          type: string
          title: Prefer
          default: trust
        capabilities:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Capabilities
        limit:
          type: integer
          maximum: 50.0
          minimum: 1.0
          title: Limit
          default: 5
      additionalProperties: false
      type: object
      required:
      - query
      title: AtlasDiscoverRequest
      example:
        budget: 10.0
        capabilities:
        - predict
        limit: 5
        min_trust_score: 50.0
        prefer: trust
        query: analytics
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key passed as Bearer token in the Authorization header.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key passed directly in the X-API-Key header (alternative to Bearer).
    X402Payment:
      type: apiKey
      in: header
      name: X-PAYMENT
      description: x402 payment proof for stateless authentication.
x-api-evangelist:
  source: https://api.greenhelix.net/v1/openapi.json
  fetched: '2026-09-19'
  http_status: 200
  bytes: 123527
  original: openapi/_original/greenhelix-net-openapi.json
  changes: servers[], info.description and info.contact added (the served document declares none); nothing else altered.
