openapi: 3.2.0
info:
  title: Greenhelix Net Checkout API
  version: 1.4.10
  description: 'Operations tagged Checkout across 2 of this provider''s published API definitions: greenhelix-net-openapi.json, greenhelix-net-a2a-commerce-gateway-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.greenhelix.net
  description: Production (the host that serves this document at /v1/openapi.json; named by the agent card url, ai-plugin.json api.url, AGENTS.md and both SDK READMEs)
- url: https://sandbox.greenhelix.net
  description: 'Sandbox — identical surface, databases reset on every deploy (docs.html; probed 2026-09-19: /v1/health 200, same 1.4.10 build)'
security:
- BearerAuth: []
- ApiKeyAuth: []
- X402Payment: []
tags:
- name: Checkout
paths:
  /v1/checkout/success:
    get:
      summary: Checkout Success
      description: Branded post-payment confirmation page.
      operationId: checkout_success_v1_checkout_success_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Checkout
  /v1/checkout/cancelled:
    get:
      summary: Checkout Cancelled
      description: Branded payment-cancelled page.
      operationId: checkout_cancelled_v1_checkout_cancelled_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Checkout
  /v1/checkout:
    post:
      summary: Create Checkout
      description: 'Create a Stripe Checkout session for credit purchase.


        Body:

        {"package": "starter"} — use preset package

        {"credits": 5000} — custom amount ($1 = 100 credits)'
      operationId: create_checkout_v1_checkout_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Checkout
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key passed as Bearer token in the Authorization header.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key passed directly in the X-API-Key header (alternative to Bearer).
    X402Payment:
      type: apiKey
      in: header
      name: X-PAYMENT
      description: x402 payment proof for stateless authentication.
x-refined-from:
- greenhelix-net-openapi.json
- greenhelix-net-a2a-commerce-gateway-openapi.yml
